.sidebar_item {
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    font-style: normal;
    padding: 0 10px;
    border-radius: 10px;
    
    display: flex;
    margin: 20px 5px;

    color: #1b1814;    

    & svg {
        width: 30px;
        height: 44px;
    }

    & .texto_link {
        margin: 10px;
        font-size: 15px;
        padding: 3px;
    }

    &:hover {
        color: #F8EDE3;
        background-color: #BDD2B6;
    }
}