.topbar_conteudo {
    background-color: #A2B29F;

    position: fixed;
    top: 0;
    bottom: 0;

    width: 80%;
    height: 10vh;

    display: flex;
    justify-content: flex-start;

    border-bottom: 1px solid #000000;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.445); */
}

.topbar_conteudo_right {
    justify-content: flex-end;
}

.pagina_conteudo {
    margin-top: 10vh;
}

.botao_deslogar {
    text-decoration: none;
    color: #E69215;
    font-size: 3.5vh;

    display: flex;
    align-items: center;

    margin-right: 20px;
}